// BASE 

*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0; //navın positionu absolute verildiğinde yeni bir katmana çıkacak. Alttaki gelen tanımlama yukarı kayıp üstüste gelmesin diye yazdık.
  font-family: var(--body-font);
  background-color: $body-color;
  color: $first-color;
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto; // görseller mobil boyuta geldiğinde otomatik olarak boyutlanır.
}
